/*************************************
COLOURS



font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;


*************************************/


/*************************************
HEADER
*************************************/

header {
	height: 150px;
	max-width: 900px;
	margin: auto;
}




/* 


FOR AN IMAGE LOGO:;
#logo {
	display: flex;
	height: 60px;
	max-width: 520px;
}




sticky header 
    position:fixed;
    z-index: 100;
------------------*/

/*************************************
NAVIGATION
*************************************/

.navigation {
	display: flex;
	justify-content: space-between;
	align-items:baseline;
}


nav ul {
	display: flex;
	padding: 0px;
}

ul {
	list-style: none;
	padding: 0px;

}

/* page links */
.main-nav {
	padding: 0px 0px 50px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .825em;
	justify-content:  flex-end;
}


a {
	text-decoration: none;
	color: #3B687F;
	font-weight: 400;
}


a a:focus {
   outline: none;
}


a:hover {
	color: #CB6E56;
}




/*************************************
GENERAL
*************************************/

.wrapper {
	display: flex;
	justify-content: center;
	align-content:: center;
}




/* images */
img {
	max-width: 100%;
}



/* album title */
p.title {
	font-family:'Roboto', sans-serif;
	padding: 0 0 20px 5px;
	margin-top: 0px;
}




/* site body */


body {
	background-color: #EEEAE0;
 	max-width: 900px;
 	margin: auto;
}



p {
	font-weight: 300;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	line-height: 1.5;

}


.quote {
	font-style: oblique;
	padding-left: 20px;
}

h1 {
	font-size: 2.5em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: #718294;
	padding: 0px;
	margin: 5px 0px 0px 0px;
}

h2 {
	font-size: 1.75em;
	font-family: 'Oswald', sans-serif;
	padding: 10px 0 0 0;
	text-align: left;
	letter-spacing: 2px;
	color: #718294;
	font-weight: 300;
	text-transform: uppercase;
}



#subhead {	
	font-size: 1em;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	color: #718294;
	font-weight: 300;
	padding: 0px 10px 0 0;

}



h3 {
	font-size: 1.55em;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	letter-spacing: 1px;
	color: #718294;
	font-weight: 300;
}






#artist, #client, #quoteby{
	font-size: .75em;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0px;
	font-style: normal;
}



/*************************************
SOUNDCLOUD
*************************************/

.soundcloud {
	margin: 0px ;
	max-width: 900px;
	padding: 0;
}


/*************************************
VIDEO & BANDCAMP
*************************************/

.imagegrid {
	display: flex;
	margin: 0px ;
	max-width: 900px;
	padding: 0;
}	


#wrapper {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	padding: 0;
	margin: 0px ;

}	

#videos, #events, #gallery   {
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
	justify-content: space-between;
	max-width: 900px;
	padding: 0;
 }


.media {
	max-width: 280px;
	padding: 0px;
}

iframe, .album  {
	max-width: 280px;
	padding: 0px;
}

.sound {
	max-width: 900px;
}


.fillerchild {
    width: 280px; /*the width of the images in this example*/
    height:0; /*Important! for the divs to collapse should they fall in a new row*/
}




/*************************************
PAGE ABOUT
*************************************/


#about {
margin: auto;
text-align: center;
}


#bio{
max-width: 720px;
}


#biopic {
 max-width: 720px;
 padding: 20px 0 0 0;
}



/*************************************
FOOTER
*************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 25px;
	color: #23374C;
}

.social-icon {
	height: 25px;
	margin: 35px 5px 0px 5px;
	}

.social-icon:hover {
	background-color: #CB6E56;
	border-radius: 100%;
	width: 25px;
}

#social {
	display: flex;
	justify-content: center;
}

.copyright {
	text-align: center;
}


